@page
@model I_SPORTUI.Pages.I_SPORT.Ficha_jugadorModel
@{
    ViewData["Title"] = "Ficha_jugador";
}

<h1>Ficha de jugador</h1>
<div class="card-deck">

    @foreach (var item in Model.jugadores)
    {
        var imgPath = $"~/images/{(string.IsNullOrEmpty(item.Foto) ? "image.jpg" : item.Foto)}";
        <div class="card bg-light m-3" style="min-width:18rem; max-width:30.5%">
            <div class="card-header">
                <h4 class="text-center">Nombre: @item.Nombre</h4>
            </div>
            <img class="card-img-top img-thumbnail imgThumbnail" src="@Url.Content(@imgPath)" alt="@item.Foto" asp-append-version="true">
            <div class="card-body">
                <div><label>Estatura: @item.Estatura M</label></div>
                <div><label>Fecha de nacimiento: @item.Fechanac.ToShortDateString()</label></div>

                <div><label>Posicion: @item.posicion</label></div>
                @foreach (var itm in Model.equipos)
                {@if (item.EquipoId == itm.Id)
                    {
                        @foreach (var nac in Model.paises)
                        {@if (item.Pais == nac.Id)
                            {
                                <div><label>Nacionalidad: @nac.pais</label></div>
                            }
                    }

                        <div><label>Equipo: @itm.Nombre</label></div>
                    }
            }
            </div>
            <div class="card-footer text-center">
                <a asp-page="/I-SPORT/Editarjugador" asp-route-Id="@item.Id" class="btn btn-info m-1">Editar</a>
                <a asp-page="/I-SPORT/estadistica" asp-route-Id="@item.Id" >Ver Estadistica </a>
            </div>
        </div>
    }
</div>